
<div class="about-tabs container-fluid d-flex justify-content-center">
  <mat-tab-group mat-stretch-tabs class="w-75 pt-5">
    <mat-tab label="Unwritten Rules"> 
      <div class="mat-elevation-z4 p-4 m-4">
        <p>An unwritten rule is a rule that involved social etiquette in some manner or another.</p> 
        <p>We believe that these rules are often misunderstood and unclear, and as this site was created
           to gather up all these rules, so that nobody has to guess foreign customs again!</p>
      </div>
     </mat-tab>
    <mat-tab label="Add a Rule">
      <div class="mat-elevation-z4 p-4 m-4">
        <p>Have a rule you think society needs to know about? </p>
        <p>Add it to the collection, so that all can enjoy it!</p>
      </div>
    </mat-tab>
    <mat-tab label="Judge">
      <div class="mat-elevation-z4 p-4 m-4">
      <p>Judge whether a rule is accurate by giving it a thumbs up or a thumbs down!</p>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>






<!--
<div id="carouselExampleIndicators" class="carousel slide text-center" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner m-auto ">
      <div class="carousel-item active m-auto">
       Unwritten Rules is the place to discover the unwritten rules of society
      </div>
      <div class="carousel-item m-auto">
        Unwritten Rules is the place to discover the unwritten rules of society
      </div>
      <div class="carousel-item m-auto">
        Unwritten Rules is the place to discover the unwritten rules of society
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
-->


<!--
          Unwritten Rules is the place to discover the unwritten rules of society

<div class="carousel-caption d-none d-md-block">
    <h5>...</h5>
    <p>...</p>
  </div>-->