<!-- The index component -->
<div class="flex-column">

    <h1>Welcome to Unwritten Rules!</h1>
    
    <div class="random">
        <h5>{{randRule?.description}}</h5>
        <hr>
        <h6>Tags: </h6>
        <h6 *ngFor="let tag of randRule?.tags">{{tag}}</h6>

    </div>
    

</div>


<!--
<table class="table">
  <thead>
  <tr>
      <td>Rule Title</td>
      <td>Rule Description</td>
      <td colspan="2">Actions</td>
  </tr>
  </thead>

  <tbody>
      <tr *ngFor="let rule of rules">
          <td>{{ rule.category }}</td>
          <td>{{ rule.description }}</td>
          <td><a [routerLink]="['/edit', rule._id]" class="button">Edit</a></td>
          <td><a [routerLink]="" class="button">Delete</a></td>
      </tr>
  </tbody>
</table>
-->