<!-- The index component -->
<div class="d-flex justify-content-center">
    <div class="flex-column w-75">

        <div class="welcome pt-5 pb-5 ">
            <h1>Welcome to Unwritten Rules!</h1>
            <h3>The place where social behavior is stated and explained, to make the world a nicer place :)</h3>
        </div>
        
        <div class="randomRule jumbotron pt-5">
            <h4>Unwritten Rule of the Day!</h4>
            
            <div class="led pt-5">{{randRule?.description}}</div>
            <hr width="20%" align="LEFT">
            <span class="text-success">
                    <mat-icon svgIcon="thumbs-up" (click)="updateRule('up')"></mat-icon>
                {{randRule?.thumbsUp}}
            </span>
            <span class="text-danger">
                <mat-icon svgIcon="thumbs-down" (click)="updateRule('down')"></mat-icon>
                {{randRule?.thumbsDown}}
            </span>
        </div>
    
    </div>
</div>
