
<!-- The routing progress indicator -->
<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>

<!-- The navigation bar at the top of all the pages -->
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand text-white" routerLink="" routerLinkActive="active">{{ title }}</a>

  <!-- search form-->
  <form class="form-inline my-2 my-lg-0 justify-content-start">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav ">
      <a class="nav-item nav-link text-white" routerLink="add" routerLinkActive="active">Add a Rule</a>
      <a class="nav-item nav-link text-white" >Log In</a>
      <a class="nav-item nav-link text-white" routerLink="about" routerLinkActive="active">About</a>
    </div>
  </div>
</nav>

<!-- The angular side routing -->
<div class="d-flex h-100 justify-content-center">
  <router-outlet></router-outlet>
</div>

