
<div class="d-flex justify-content-center">
  <div class="flex-column w-75">
    <h4 class="pt-5 pb-5">Results for: {{search}}</h4>

    <div class="randomRule jumbotron pt-5" *ngFor="let rule of rules">
      
      <div class="led pt-5">{{rule.description}}</div>
      <hr width="20%" align="LEFT">
      <ul>
        <li *ngFor="let tag of rule.tag">{{ tag }} </li>
      </ul>
      <span class="text-success">
              <mat-icon svgIcon="thumbs-up" (click)="updateRule('up')"></mat-icon>
          {{rule.thumbsUp}}
      </span>
      <span class="text-danger">
          <mat-icon svgIcon="thumbs-down" (click)="updateRule('down')"></mat-icon>
          {{rule.thumbsDown}}
      </span>
    </div>

  </div>
</div>